# Dependencies
markdown:         kramdown
highlighter:      rouge

# Setup
title:            라리 앤 누룽의 블로그
tagline:          '가자 세계로!'
description:      '<a href="https://www.google.com/maps/d/edit?hl=ko&hl=ko&mid=1gkiOkQr0cY7MiYDVObCH7FmUDoLNlq2z&ll=43.22825264507053%2C-2.6127738750000162&z=4" target="_blank">여행지도</a>'
url:              https://leesr.github.io/
baseurl:          # the optional subpath of your site, e.g. "/blog"
                  # NB: This applies to all pages in your Jekyll site.
                  # If you want to move just the blog index pages but keep
                  # other pages at root, see the paginate_path and
                  # sidebar_blog_link below.

author:
  name:           '라리 앤 누룽'

paginate:         5
# paginate_path:    '/page:num'
                    # Or '/blog/page:num' if you want to move your index pages

plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

# Custom vars
version:            3.5.3
sidebar_home_link:  true
# sidebar_blog_link:  '/blog'   # By default, your home page is your blog
                                # page. If you change your paginate_path,
                                # set this to the root of the paginate_path
                                # to enable a separate blog link.
github:
  repo:             https://github.com/leesr/leesr.github.io
